/* general */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

/* end general */


/* ----------------------login----------------------- */


/* backeground and login box */

.login{
    background-image: url('../imgs/bmw.jpg');
                content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

}

.login form{
     width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.login p{
  
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login button
{
     width: 100%;
    margin-bottom: 50px;
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login button:hover {
  background-color: black;
  color: white;
}
.login a{
    color: #f45611;
    font-weight: bold;
    font-size: 20px;
}

/* end login box */

/* ----------------------signup----------------------- */


/* backeground and signup box */
.signup {
      background-image: url('../imgs/bmw3.jpg');
                content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.signup form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-60%);
    box-sizing: border-box;
    padding: 70px 30px;
    width: 500px;
    padding: 50px;


}
.signup label{
  
    font-weight: bold;
}
.signup input{
    width: 100%;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;

}
.signup button
{
     width: 100%;
    margin-bottom: 50px;
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.signup button:hover {
  background-color: black;
  color: white;
}
.signup a{
    color: black;
    font-weight: bold;
    font-size: 20px;
}
/* end signup box */




/* header */

.headerMain {
    padding: 5px 0;
}

header .logo {
    width: 10%;
    display: flex;

}

header nav {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: nowrap;
}

header nav ul {
    display: flex;
    flex-direction: row;
}

header .logo img {

    height: 60px;
    display:flex;
}


header ul li {
    list-style: none;
    padding: 0 20px;
    align-self: center;

}

header ul li a {
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
}

header ul li a:hover {
    color: #000000
}



header .headerMain {
    background-color: #080b89;
}

.signout-f button{
 
  border: 0px;
  width: 85px;
  height: 35px;
  font-weight: bold;
   text-align:center;
   border-radius:10px;
  margin-top: 10px;
}

/* end header */

/* footer */
footer {
    background-color: #000000;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

/* end footer */

/*  main */
main {
    display: flex;
    flex-wrap: nowrap;
}

/* end main */

.welcome {
      background-image: url('../imgs/bmw7.jpg');
                content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}
.welcome h1{
    color: #3181cc;
    margin-left: 355px;
    margin-top: 200px;

}
